/*
    Document   : css/styles．css
    Created on : 2014-12-08 04:02 PM
    Author     : bombadillo
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
@-moz-document url-prefix() {
    body {
        font-weight: 400;
    }
    
    .btn { 
        font-weight: 400;
    }
    
    label {
        font-weight: 400;
    }
}

select {
    color: #2b3e50;
}

root {
    display: block;
}

.ghost { 
    display: none;
}

.log-item .code {
    margin-top: 10px;
}

.log-container {
    padding: 30px 0px 30px 0px;
}

.log-items {
    padding-top: 30px;
}

.changePage {
    width: 195px;
    height: 100px;
    top: 45%;
    display: none;
}

.pageInfo {
    display: none;
}

.changePage.next {
    right: 0;
}

.label {
    font-weight: bold;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.list-group .date {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(250, 250, 250, 0.7);
}

.log-container .error {
    padding-top: 30px;
}

.scrollToTop.start {    
    display: none;

}

.scrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.scrollToTop.show {
    display: block;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fadeInFromNone;    
    -o-animation-duration: 0.5s;
    -o-animation-name: fadeInFromNone;        
    animation-duration: 0.5s;
    animation-name: fadeInFromNone;    
}

.scrollToTop.scrollHide {    
    /*-webkit-transition: 0.2s linear;*/
    -webkit-animation: fadeOutFromFull 0.5s ease normal forwards; 
    -moz-animation: fadeOutFromFull 0.5s ease normal forwards; 
    -o-animation: fadeOutFromFull 0.5s ease normal forwards; 
    animation: fadeOutFromFull 0.5s ease normal forwards; 
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
        margin-bottom: -200px;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
        margin-bottom: 0px;
    }
}

@-webkit-keyframes fadeOutFromFull {
    0% {
        display: block ; 
        opacity: 1;
        margin-bottom: 0px;
    }

    1% {
        display: block ; 
        opacity: 1;
        margin-bottom: 0px;
    }
    
    100% {
        display:none; 
        opacity: 0;
        margin-bottom: -200px;
    }    
}


@-moz-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
        transform: translateY(100px);
    }

    1% {
        display: block; 
        opacity: 0;
    }

    100% {
        display: block; 
        opacity: 1;
        transform: translateY(0px);
    }
}

@-moz-keyframes fadeOutFromFull {
    0% {
        display: block; 
        opacity: 1;
        transform: translateY(0px);
    }

    1% {
        display: block; 
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        transform: translateY(100px);
    }    
}


@-o-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
        margin-bottom: -200px;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
        margin-bottom: 0px;
    }
}

@-o-keyframes fadeOutFromFull {
    0% {
        display: block ; 
        opacity: 1;
        margin-bottom: 0px;
    }

    1% {
        display: block ; 
        opacity: 1;
        margin-bottom: 0px;
    }
    
    100% {
        display:none; 
        opacity: 0;
        margin-bottom: -200px;
    }    
}

.select-log-file {
    margin-bottom: 13px;
}


@-webkit-keyframes loader {
  0%, 10%, 100% {
    width: 84px;
    height: 84px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loader {
  0%, 10%, 100% {
    width: 84px;
    height: 84px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@-webkit-keyframes loaderBlock {
  0%, 30% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: transparent;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loaderBlock {
  0%, 30% {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: transparent;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loaderBlockInverse {
  0%, 20% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: transparent;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: transparent;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84px;
  height: 84px;
  -ms-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-animation: loader 1.2s infinite ease-in-out;
  animation: loader 1.2s infinite ease-in-out;
    z-index: 100;
}
.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff6600;
  border: 1px #ff6600 solid;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-animation: loaderBlock 1.2s infinite ease-in-out both;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}